@model Product

@{
    ViewData["Title"] = "Create Product";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Create Product</h2>
        <form asp-action="Create" method="post">

            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Enter product title" required />
            </div>

            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="Enter product price" required />
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" placeholder="Enter product description"></textarea>
            </div>

            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" class="form-control" placeholder="Enter product quantity" required />
            </div>

            <div class="form-group">
                <label asp-for="ImagePath"></label>
                <input asp-for="ImagePath" class="form-control" placeholder="Enter image path" />
            </div>

            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.categories"></select>
            </div>
            <button type="submit" class="btn btn-custom btn-block">Create</button>
          
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
